@font-face {
    font-family: Raleway;
    src: url(police/Raleway-VariableFont_wght.ttf);
}
body{
    margin: 0;
    font-family: Raleway, serif;
}
.flex{
    display: flex;
}
.gras{
    font-weight: 700;
    font-size: 1em;
    margin: 8px 0;
}
header{
    width: 93%;
    margin: auto;
}
a{
    text-decoration: none;
    color: black;
}
.prixHebergement{
    margin: 8px 0;
}
#pageActive{
    color: #0065fc;
}
#inscrire{
    color: #0065fc;
    font-weight: 700;
}
#geoloc{
    width: 13%;
    font-size: 1.2em;
    background-color: #f2f2f2;
    border-radius: 10px 0 0 10px;
    border: #f2f2f2 solid 1px;
}
#textRecherche{
    width: 70%;
    font-size: 1.3em;
    font-weight: 700;
    border: #f2f2f2 solid 1px;
}
.filtreNom{
    padding-right: 20px;
}
#infoBulle{
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    border: #f2f2f2 solid 1px;
    border-radius: 50%;
    color: #0065fc;
    margin-right: 10px;
    font-size: 0.8em;
}
.iconeCategorie{
    font-size: 1.5em;
}   

/* Hébergement */
#afficherPlus{
    width: 100%;
}
.dimensionImgHebergement{
    width: 100%;
    height: 150px;
    border-radius: 20px 20px 0 0;
    overflow: hidden;
}
.imgHebergement{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#titreHebergementMarseille{
    width: 100%;
}
.blueStar{
    color: #0065fc;
}
.grayStar{
    color: #f2f2f2;
}
.infoHebergement{
    padding-left: 5%;
}
#titrePlusPopulaire{
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.card{
    border-radius: 20px;
    box-shadow: lightgray 0px 7px 40px 0px;
}

/* PC */
@media only screen and (min-width : 1230px) {
    main{
        width: 93%;
        margin: auto;
    }
    ul{
        list-style-type: none;
        margin: 0 0 0 auto;
    }
    #logo{
        padding-top: 55px;
    }
    nav{
        justify-content: space-between;
        width: 100%;
    }
    .buttonNav{
        padding: 55px 50px 0px 55px;
        text-align: center;
    }
    #buttonNavHebergement{
        border-top: #0065fc solid 2px;
    }    
    #champRecherche{
        height: 50px;
        display: inline-flex;
        width: 500px;
    }
    #buttonRecherche{
        width: 30%;
        font-size: 1em;
        font-weight: 700;
        background-color: #0065fc;
        color: white;
        border-radius: 0 10px 10px 0;
        border: #0065fc solid 1px;
    }    
    #iconeButtonRecherche{
        display: none;
    }
    #listeFiltre{
        justify-content: space-between;
        flex-wrap: wrap;
    }
    #filtre{
        margin-top: 50px;
        width: 63%;
    }
    .filtreButton{
        border: #f2f2f2 solid 2px;
        border-radius: 50px;
    }
    .filtreButton:hover{
        background-color: #DEEBFF;
    }
    .filtreIcone{
        align-items: center;
        justify-content: center;
        color: #0065fc;
        background-color: #DEEBFF;
        height: 100%;
        width: 55px;
        border-radius: 50%;
        font-size: 1.5em;
        margin-right: 20px;
    }
    #info{
        margin-top: 30px;
        justify-content: start;
        align-items: center;
    }    

    /* Hébergement */
    #hebergement{
        justify-content: space-between;
        margin-bottom: 70px;
    }
    #hebergementMarseille{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 60%;
        background-color: #f2f2f2;
        padding: 40px;
        border-radius: 20px;
    }
    .cardHebergement{
        display: block;
        background-color: white;
        padding: 5px;
        margin-bottom: 20px;
        width: 100%;
    }
    .articleHebergement{
        width: 30%;
    }    

    /* Hébergement Populaire */
    #populaire{
        width: 25%;
        background-color: #f2f2f2;
        padding: 40px;
        border-radius: 20px;
    }   
    #listeCardPopulaire{
        flex-direction: column;
        justify-content: space-between;
        height: 90%;
    }
    .cardPopulaire{
        background-color: white;
        padding: 5px;
    }
    .dimensionImgPopulaire{
        height: 150px;
        width: 150px;
        border-radius: 20px 0 0 20px;
        overflow: hidden;
    }
    .imgPopulaire{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    .infoPopulaire{
        padding: 0px 0px 5px 5%;
        flex-direction: column;
        justify-content: space-between;
    }    

    /* Activites */
    #listeActivites{
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 570px;
    }
    .duoActivites{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 24%;
    }
    .articleActivites{
        width: 23.5%;
    }
    .cardActivitesGrand{
        height: 100%;
        width: 100%;
        display: block;
    }
    .cardActivitesMoyen{
        display: block;
        width: 100%;
        height: 310px;
    }
    .cardActivitesPetit{
        display: block;
        width: 100%;
        height: 220px;
    }
    .dimensionImgActivitesGrand{
        height: 500px;
        width: 100%;
        border-radius: 20px 20px 0 0;
        overflow: hidden;
    }
    .imgActivitesGrand{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    .dimensionImgActivitesMoyen{
        width: 100%;
        height: 240px;
        border-radius: 20px 20px 0 0;
        overflow: hidden;
    }
    .imgActivitesMoyen{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .dimensionImgActivitesPetit{
        width: 100%;
        height: 150px;
        border-radius: 20px 20px 0 0;
        overflow: hidden;
    }
    .imgActivitesPetit{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .activitesNom{
        padding-left: 5%;
        margin: 0;
        height: 70px;
        align-items: center;
    }    

    /* footer */
    footer{
        width: 100%;
        background-color: #f2f2f2;
        margin-top: 70px;
    }
    #contenuFooter{
        justify-content: space-between;
        width: 70%;
        padding: 4%;
    }
    .titreFooter{
        flex-direction: column;
    }
    .lienFooter{
        margin: 10px 0;
    }
    .lienFooter:hover{
        text-decoration: underline;
    }    
}
/* Tablette */
@media only screen and (min-width : 700px) and (max-width : 1229px) {
    main{
        width: 93%;
        margin: auto;
    }    
    ul{
        list-style-type: none;
        margin: 0;
    }
    #logo{
        padding-top: 55px;
    }
    nav{
        justify-content: space-between;
        width: 100%;
    }
    .buttonNav{
        padding: 55px 50px 0px 55px;
        text-align: center;
    }
    #buttonNavHebergement{
        border-top: #0065fc solid 2px;
    }
    #champRecherche{
        height: 50px;
        display: inline-flex;
        width: 100%;
    }
    #buttonRecherche{
        width: 30%;
        font-size: 1em;
        font-weight: 700;
        background-color: #0065fc;
        color: white;
        border-radius: 0 10px 10px 0;
        border: #0065fc solid 1px;
    }
    #iconeButtonRecherche{
        display: none;
    }    
    #filtre{
        margin-top: 50px;
        width: 100%;
    }
    #listeFiltre{
        justify-content: space-between;
        flex-wrap: wrap;
    }
    #filtreTitre{
        width: 100%;
    }
    .filtreButton{
        border: #f2f2f2 solid 2px;
        border-radius: 50px;
        margin-top: 20px;
    }
    .filtreIcone{
        align-items: center;
        justify-content: center;
        color: #0065fc;
        background-color: #DEEBFF;
        height: 55px;
        width: 55px;
        border-radius: 50%;
        font-size: 1.5em;
        margin-right: 20px;
    }
    #info{
        margin-top: 30px;
        justify-content: start;
        align-items: center;
    }  
    
    /* Hébergement */
    #hebergement{
        margin-bottom: 70px;
        display: flex;
        flex-direction: column-reverse;
    }
    #hebergementMarseille{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        background-color: #f2f2f2;
        padding: 40px;
        border-radius: 20px;
        margin-bottom: 20px;
    }
    .cardHebergement{
        display: block;
        background-color: white;
        padding: 5px;
        margin-bottom: 20px;
        width: 100%;
    }
    .articleHebergement{
        width: 30%;
    }    

    /* Hébergement Populaire */
    #populaire{
        background-color: #f2f2f2;
        padding: 40px;
        border-radius: 20px;
        margin-bottom: 20px;
    }
    #listeCardPopulaire{
        justify-content: space-between;
    }
    .articlePopulaire{
        width: 30%;
    }
    .cardPopulaire{
        background-color: white;
        padding: 5px;
        display: block;
            }
    .dimensionImgPopulaire{
        width: 100%;
        height: 150px;
        border-radius: 20px 20px 0 0;
        overflow: hidden;
    }
    .imgPopulaire{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .infoPopulaire{
        padding: 0px 0px 5px 5%;
        flex-direction: column;
        justify-content: space-between;
        height: 130px;
    }    

    /* Activites */
    #listeActivites{
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 570px;
    }
    .duoActivites{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .articleActivites{
        width: 23.5%;
    }
    .cardActivitesGrand{
        height: 100%;
        width: 100%;
        display: block;
    }
    .cardActivitesMoyen{
        display: block;
        width: 100%;
        height: 310px;
    }
    .cardActivitesPetit{
        display: block;
        width: 100%;
        height: 220px;
    }
    .dimensionImgActivitesGrand{
        height: 500px;
        width: 100%;
        border-radius: 20px 20px 0 0;
        overflow: hidden;
    }
    .imgActivitesGrand{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    .dimensionImgActivitesMoyen{
        width: 100%;
        height: 240px;
        border-radius: 20px 20px 0 0;
        overflow: hidden;
    }
    .imgActivitesMoyen{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .dimensionImgActivitesPetit{
        width: 100%;
        height: 150px;
        border-radius: 20px 20px 0 0;
        overflow: hidden;
    }
    .imgActivitesPetit{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .activitesNom{
        padding-left: 5%;
        margin: 0;
        height: 70px;
        align-items: center;
    }    

    /* Footer */
    footer{
        width: 100%;
        background-color: #f2f2f2;
        margin-top: 70px;
    }
    #contenuFooter{
        justify-content: space-between;
        width: 90%;
        padding: 4%;
    }
    .titreFooter{
        flex-direction: column;
    }
    .lienFooter{
        margin: 10px;
    }
    .lienFooter:hover{
        text-decoration: underline;
    }    
}
/* Smartphone */
@media only screen and (max-width : 699px){
    header{
        width: 100%;
    }
    ul{
        list-style-type: none;
        margin: 20px 0 0 0;
        padding: 0;
        order: 2;
        width: 100%;
    }
    #logo{
        margin-left: 3%;
        padding-top: 55px;
        width: 40%;
    }
    nav{
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
    }
    #buttonNavInscrire{
        align-items: center;
        justify-content: space-between;
        order: 1;
        padding-top: 55px;
        margin-right: 3%;
    }  
    .buttonNav{
        text-align: center;
    }
    #buttonNavHebergement{
        border-bottom: #0065fc solid 5px;
        width: 50%;
        padding-bottom: 10px;
    }
    #buttonNavActivites{
        border-bottom: #f2f2f2 solid 5px;
        width: 50%;
        padding-bottom: 10px;
    }
    #sectionRecherche{
        width: 93%;
        margin: auto;
    }
    #champRecherche{
        height: 50px;
        display: inline-flex;
        width: 100%;
    }
    #buttonRecherche{
        display: none;
    }
    #iconeButtonRecherche{
        width: 50px;
        font-size: 1em;
        background-color: #0065fc;
        color: white;
        border-radius: 0 10px 10px 0;
        border: #0065fc solid 1px;
    } 
    #filtre{
        margin: 50px auto 0 auto;
        width: 93%;
    }
    #listeFiltre{
        justify-content: space-between;
        flex-wrap: wrap;
    }
    #filtreTitre{
        width: 100%;
    }
    .filtreButton{
        border: #f2f2f2 solid 2px;
        border-radius: 50px;
        margin-top: 20px;
    }
    .filtreIcone{
        align-items: center;
        justify-content: center;
        color: #0065fc;
        background-color: #DEEBFF;
        height: 55px;
        width: 55px;
        border-radius: 50%;
        font-size: 1.5em;
        margin-right: 10px;
    }
    #info{
        width: 93%;
        margin: 30px auto 30px auto;
        justify-content: start;
        align-items: center;
    }    

    /* Hébergement */
    #hebergement{
        flex-direction: column-reverse;
    }
    #hebergementMarseille{
        padding: 20px;
        margin-bottom: 20px;
    }
    .cardHebergement{
        display: block;
        background-color: white;
        padding: 5px;
        margin-bottom: 20px;
        width: 100%;
    }
    .articleHebergement{
        width: 100%;
    } 
    #afficherPlus{
        width: 100%;
        font-size: 1.2em;
    }

    /* Hébergement Populaire */
    #populaire{
        background-color: #f2f2f2;
        padding: 20px;
    }   
    #listeCardPopulaire{
        flex-direction: column;
        justify-content: space-between;
    }
    .articlePopulaire{
        margin: 10px 0;
    }
    .cardPopulaire{
        background-color: white;
        padding: 5px;
    }
    .dimensionImgPopulaire{
        height: 150px;
        width: 150px;
        border-radius: 20px 0 0 20px;
        overflow: hidden;
    }
    .imgPopulaire{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    .infoPopulaire{
        padding: 0px 0px 5px 5%;
        flex-direction: column;
        justify-content: space-between;
        width: 200px;
    }

    /* Activites */
    #activites{
        width: 93%;
        margin: auto;
    }
    #listeActivites{
        width: 100%;
    }
    .cardActivitesGrand{
        display: block;
        margin-bottom: 20px;
    }
    .cardActivitesMoyen{
        display: block;
        height: 250px;
        margin-bottom: 20px;
    }
    .cardActivitesPetit{
        display: block;
        height: 250px;
        margin-bottom: 20px;
    }
    .dimensionImgActivitesGrand{
        height: 200px;
        width: 100%;
        border-radius: 20px 20px 0 0;
        overflow: hidden;
    }
    .imgActivitesGrand{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    .dimensionImgActivitesMoyen{
        width: 100%;
        height: 200px;
        overflow: hidden;
    }
    .imgActivitesMoyen{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .dimensionImgActivitesPetit{
        width: 100%;
        height: 200px;
        overflow: hidden;
    }
    .imgActivitesPetit{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .activitesNom{
        padding: 0 0 5% 5%;
    }

    /* Footer */
    footer{
        width: 100%;
        background-color: #f2f2f2;
        margin-top: 50px;
        padding-top: 30px;
    }
    #contenuFooter{
        flex-direction: column;
        padding: 4%;
    }
    .titreFooter{
        flex-direction: column;
        margin-bottom: 30px;
    }
    .lienFooter{
        margin: 10px 0;
    }
}